.container{
    display:flex;
    color:white;
    flex-direction: row;
    min-height:100vh;
    align-content: center; /* flex-start | flex-end | center | space-between | space-around | stretch*/
    flex-wrap: wrap;
    border:10px solid mistyrose;
}
.box{
    width:100px;
    font-size:90px;
    padding:20px;
    text-align: center;
}
.box1{
    background-color: rgb(60, 221, 11);
}
.box2{
    background-color: rgb(248, 244, 10);
}
.box3{
    background-color: rgb(30, 7, 133);
}
.box4{
    background-color: rgb(255, 7, 152);
}
.box5{
    background-color: rgb(248, 105, 10);
}
.box6{
    background-color: rgb(10, 14, 248);
}
.box7{
    background-color: rgb(248, 105, 10);
}
.box8{
    background-color: #ff80bf;
}
.box9{
    background-color: #ff884d;
}
.box10{
    background-color: #cc00ff;
}